<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="SharedDemo" cultur="neutral" publicKeyToken="f946433fdae2512d">
            
          </assemblyIdentity>
          <codeBase versio="1.0.0.0" href=""></codeBase>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>